body{ 
    background-image: url(assets/grayFlower.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 15% 75%;
    grid-template-rows: 20% 70% 10%;
    z-index: 1;


}

.heading{
    display: flex;
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: 5em;
    padding-bottom: 400px;
}

.menu{
    grid-column: 1/2;
    grid-row: 2/3;
}

.menu-item{
    display: flex;
    padding: 50px 2px;
    justify-content: space-around;

}

.menu-item a {
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: white;
    align-content: space-around;
    width: 60px;
    height:30px;
    text-align: center;
    text-decoration: none;
    background-color: #eba002 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    padding: 10px;
    font-size: 20px;
}

.main{
    grid-column: 2/3;
    grid-row: 2/3;
   
}

.text-box{
    display: flex;
    justify-content: flex-start;
    font-size: 250%;
    /* background-image: url(assets/grayFlower.jpg) ; */
    background-color: #eba002;
    width: 30em;
    height: 700px;
    z-index: 2;
    opacity: 80%;
    border-radius: 12px;
}

.text{
    padding: 90px;
    z-index: 3;
}

.pic-wrapper{
    padding-left: 450px;
    z-index: 4;
    width: 350px;
    height: 400px;

}


.profile-pic{
    height: 70%;
    width: 70%;
    border-style: solid;
    border-radius: 12px;
    border-color: black ;
    border-width: 2px;
    z-index: 1;


}