body{ background-image: url(assets/grayFlower.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.menu-item{
    display: flex;
    padding: 50px 2px;
    display: flex;
    justify-content: flex-start;

}

.menu-item a {
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: white;
    align-content: space-around;
    width: 60px;
    height:30px;
    text-align: center;
    text-decoration: none;
    background-color: #eba002 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    padding: 10px;
    font-size: 20px;
}

.doc{
    height: 600px;
    width: 700px;
}